.hero {
  text-align: center;

  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/main/header-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-color: #c4c4c4;
  color: var(--secondary-text-color);
  &.section {
    max-width: 1600px;
    padding-top: 200px;
    padding-bottom: 200px;
  }
}

.hero_title {
  width: 696px;
  height: 120px;
  letter-spacing: 0.06em;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  margin-bottom: 30px;
  margin-right: auto;
  margin-left: auto;
  text-transform: uppercase;
}

/* Кнопка заказа */

.button-order {
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 0.06em;
  line-height: 1.87;
  margin: 0 auto;
  background-color: var(--accent-color);
  color: var(--secondary-text-color);
  padding: 10px 32px;
  min-width: 200px;
  border: none;
  transition: background-color var(--primary-time-duration)
     ;
    &:hover,
    &:focus {
      background-color: #188ce8;
    }
}

